body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #343837;
  color: white;
}

.jumbotron {
  background-color: #171918;
  text-align: center;
  padding: 2rem;
}

.alert-info {
  margin-top: 3%;
  width: 48%;
}

.display-5 {
  text-align: center;
}

.display-6 {
  margin-bottom: 3%;
  text-align: center;
}

a {
  color: #017374;
  cursor: pointer;
  text-decoration: underline;
}

label {
  display: flex;
}

button {
  align-content: flex-end;
  display: flex;
}

.submit-div {
  margin-top: 3%;
  text-align: right !important;
}

.submit {
  background-color: #017374;
  border-color: #017374;
  width: 50%;
}

.required {
  color: #FD5956;
  font-weight: bolder;
  text-transform: uppercase;
}

.highLightLink {
  color: #017374;
  font-size: 24px;
  margin: 10px;
  display: flex;
}

.success-box {
  background: #161917;
  padding: 4%;
  border-radius: 25px;
  box-shadow: 25px 0 0 orange, -25px 0 0 orange;
  width: 75%;
}

.post-border {
  border: 8px solid;
  border-radius: 10px; 
  margin-top: 4%;
  margin-bottom: 1%;
}

.post-border > p {
  align-items: stretch;
  background-color: #15202b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  padding: 10%;
  text-align: center;
}

.want-to-know {
  background: #343836;
  border: 1px solid #ccc;
  margin: 3%;
  margin-left: 0;
  margin-right: 0;
}

.want-to-know > h3 {
  padding: 1rem;
  margin: 0 0 0.5rem 0;
}

.want-to-know > p {
  padding: 0 1rem;
  font-size: 1.25rem;
}

.want-to-know > .stripe {
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #171918 10px,
    #171918 20px
  );
}

.spinner {
  border: 16px solid #007274;
  border-radius: 50%;
  border-top: 16px solid #161917;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 576px) { 
  .alert-info {
    width: 90%;
  }  
  .highLightLink {
    font-size: 18px;
    overflow: hidden;
  }
  .success-box {
    border-radius: 12px;
    box-shadow: 20px 0 0 orange, -20px 0 0 orange;
    width: 75%;
  }
}
